@media(max-width:768px){

.sidebar{
    width:70px;
}

.sidebar a{
    font-size:12px;
    padding:8px;
}

.main-content{
    padding:10px;
}

.products{
    grid-template-columns:1fr;
}

.dashboard{
    grid-template-columns:1fr;
}

.form-box{
    width:90%;
}

.header input{
    width:100%;
}

}

@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero img{
    width:100%;
}

.header{
    flex-direction:column;
    gap:15px;
}

.search-box{
    width:100%;
    margin:0;
}

.header-icons{
    justify-content:center;
}

.products{
    grid-template-columns:1fr;
}

.categories{
    grid-template-columns:repeat(2,1fr);
}

.offer-grid{
    grid-template-columns:1fr;
}

.feature-grid{
    grid-template-columns:1fr;
}

.brand-grid{
    grid-template-columns:repeat(2,1fr);
}

.newsletter input{
    width:100%;
    margin-bottom:15px;
}

.newsletter button{
    width:100%;
    margin:0;
}

}